body {
    background-color: snow;
}

#masks-selector {
    min-width: 310px;
}

#mask-display {
    min-height: 80%;
    min-height: 80vh;
}

#mask-display h1 {
    font-size: 4em;
}

.react-stopwatch-timer__table {
    height: auto!important;
}